@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Quattrocento:wght@400;700&family=Questrial&display=swap');
:root {
    
    --font-heading: 'Calistoga', cursive;
    --font-body: 'IBM Plex Sans', sans-serif;
    --font-serif: 'Quattrocento', serif;
    --font-modern: 'Questrial', sans-serif;
}
html {
    font-family: var(--font-heading);
    background-image: linear-gradient(to bottom, rgb(250, 244, 237), #b4637a );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    color: #575279;
}
body {
    border: 3px solid #ea9d34;
    border-radius: 5px;
    background-color: #fffaf3;
}
input {
    background-color: #dfdad9;
}
